/* for smooth transitions */
*{
    transition: 500ms;
}

/* small-screen */
.bg-light{
    margin: auto;
    margin-top: 25vh;
    padding: 10% 3%;
}

.my-alert{
    padding: 3%;
}

.justify-content-around{
    margin-top: 10%;
}

/* medium screen landscape */
@media screen and (orientation: landscape)
{
    .bg-light{
        margin-top: 10vh;
        padding: 5%;
    }
    
}

/* large screen landscape */
@media screen and (orientation: landscape) and (min-width: 1024px)
{
    .bg-light{
        margin-top: 18vh;
        padding: 5% 3%;
    }
}